<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Vue 3</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>
    <div class="container" id="app">
      <div class="card">
        <h1>{{title}}</h1>
        <div class="form-control">
          <input
            type="text"
            :placeholder="placeholderString"
            v-model="inputValue"
            @keypress.enter="addNewNote"
          />
        </div>
        <button class="btn" @click="addNewNote">Add</button>
        <hr />
        <ul class="list" v-if="notes.length !== 0">
          <li class="list-item" v-for="(note, index) of notes">
            <!-- <span :class="note.length > 5 ? 'primary' : 'bold'"
              >({{index}}) {{toUpperCase(note)}}</span
            > -->
            <!-- <span :class="{' primary': true, 'bold': note.length > 5 }">
              ({{index}}) {{toUpperCase(note)}}
            </span> -->
            <span :class=" ['bold', {'primary': note.length > 5}] ">
              {{index + 1}}. {{toUpperCase(note)}}
            </span>
            <button class="btn danger" @click="deleteNode(index, $event)">
              delete
            </button>
          </li>
          <hr />
          <li><strong>List count: {{notes.length}}</strong></li>
        </ul>
        <div v-if="notes.length === 0 ">
          <h2>List empty. Add new note</h2>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
